#body{
    background-color: darkgray;
}

#header{

    background-color:rgb(3, 101, 146);
    color:rgb(214, 228, 236);
   background-size: cover; 
     background-position-y: 40%;
    position:relative !important;
}

#header h1{
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-size: 300%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 0px 3px 3px rgba(110, 41, 41, 0.5);
}


.jumbotron {
    padding: 2rem;
    border-radius: 0;
}


#citySearch{
    width:70%;
}


#searchbuttonicon{
    width:25px;
    display:inline-block;
}


#currentweather {
    padding-left: 25px;
}

#clearstorage{
    color:rgb(117, 65, 65);
    text-decoration: none;
    font-size:.85em;
   
}


.weathercard{
    width: 10rem;
    background-color: #584848;
    color: rgb(228, 218, 218);
    text-align: center;
}

/*UV display */
.uvfavorable{
    background-color: rgb(64, 124, 64);
    border-radius: 8px;
    color: rgb(224, 212, 212);
}

.uvmoderate{
    background-color: rgb(255, 94, 0);
    border-radius: 8px;
    color: rgb(241, 229, 229);
}

.uvsevere{
    background-color: rgb(163, 45, 45);
    border-radius: 8px;
    color: white;
}

/* Media queries */
@media only screen and (max-width: 992px) {
    #searchcity{
        width:100%;
    }
    #searchbutton{
        width:100%;
    }
}
@media only screen and (max-width: 575px) {

    #fiveDayForecastUl{
        justify-content: center;
    }
}