#body{
    background-color: darkgray;
}
/* Header*/
#header{
    background-size: cover;
    background-position-y: 40%;
    color:rgb(88, 171, 219);
    background-color:rgb(3, 101, 146);
    position:relative !important;
}

/* city name */
#header h1{
    font-size: 400%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    text-shadow: 0px 3px 3px rgba(110, 41, 41, 0.5);
}

/*Jumbotron*/
.jumbotron {
    padding: 1rem;
    border-radius: 0;
}

/* City Search width */
#citySearch{
    width:80%;
}

/* magnifying glass icon */
#searchbuttonicon{
    width:15px;
    display:inline-block;
}

/*padding */
#currentweather {
    padding-left: 15px;
}

/* clear storage */
#clearstorage{
    color:grey;
    text-decoration: none;
    font-size:.95em;
   
}

/* Weather card styling */
.weathercard{
    width: 9rem;
    background-color: #584848;
    color: white;
    text-align: center;
}

/*UV display */
.uvfavorable{
    background-color: rgb(79, 138, 79);
    border-radius: 5px;
    color: white;
}

.uvmoderate{
    background-color: rgb(255, 94, 0);
    border-radius: 5px;
    color: white;
}

.uvsevere{
    background-color: red;
    border-radius: 5px;
    color: white;
}

/* Media queries */
@media only screen and (max-width: 992px) {
    #searchcity{
        width:100%;
    }
    #searchbutton{
        width:100%;
    }
}
@media only screen and (max-width: 575px) {

    #fiveDayForecastUl{
        justify-content: center;
    }
}