body{
    
    background: linear-gradient(#ec8423, #070e64);
}



img {
    width: 100px;
    height: 100px;
}


.card-title {
    font-size: 30px;
}



.fiveDayColor {
    padding: 20px;
    margin: 15px;
    background-color: #70a4d8;
    color: white;
    border: 3px solid lightgray;
    float: left;

}

.banner{

    
    background: linear-gradient(90deg, rgb(141, 149, 155) 0%, rgb(61, 77, 107) 100%);
    border: none;
}



.fiveDayCard{
    background: #5a5f69;
    border: none;
}


.currentCard{
    width: 50%;
    vertical-align: middle;
    background: #063ba8;
    display: inline-block;
    padding-right: 50px;
    text-align: center;
    border: none;
  
}


.card-text{
    
}

.card-body{
    
    
}

.card-search{
    
}


.data-city{
    background: #2e2f31;
}
