body{
   
}


img {
    
}


.card-title {
  
}



.fiveDayColor {
    

}

.fiveDayCard{
   
}


.banner{
  
}

.currentCard{
   
  
}


.card-text{
    
}

.card-body{
    
    
}

.card-search{
    
}


.data-city{
    background: #2e2f31;
}
