h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: semi-expanded;
    color: linear-gradient(90deg, rgb(226, 191, 138) 0%, rgb(4, 38, 102) 100%);
}

body{
    
    background: linear-gradient(#250363, #f8c578);
    height: 300px;
}




.card-title {
    font-size: 30px;
    width: 100%;
}



.fiveDayColor {
    padding: 20px;
    margin: 25px;
    background-color: #70a4d8;
    color: white;
    border: 3px solid lightgray;
    float: left;

}

.banner{

    background: linear-gradient(90deg, rgb(226, 191, 138) 0%, rgb(4, 38, 102) 100%);
    border: none;
}



.fiveDayCard{
    /* background: #5a5f69; */
    background: linear-gradient(90deg, rgb(226, 191, 138) 0%, rgb(4, 38, 102) 100%);
    border: none;
}


.currentCard{
    width: 60%;
    vertical-align: middle;
    background: linear-gradient(90deg, rgb(226, 191, 138) 0%, rgb(4, 38, 102) 100%);
    display: inline-block;
    padding-right: 60px;
    text-align: center;
    border: none;
  
}


.card-text{
    color: white;

    
}

.card-body{
    border: none;
    vertical-align: center;
    /* background: #a2a4a7; */
    background: linear-gradient(90deg, rgb(226, 191, 138) 0%, rgb(4, 38, 102) 100%);
    
}

.data-city{
    background: #2e2f31;
}

.card-search{
    vertical-align: center;
}


